<!DOCTYPE html>
<html>
  <head>
    <title>Vuetwo</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'notebook' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'notebook' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
